{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-sort-imports"
  ],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    { "files": "*.astro", "options": { "parser": "astro" } }
  ],

  "sortingMethod": "alphabetical",
  "importTypeOrder": ["NPMPackages", "localImportsType", "localImportsValue"]
}
