---
import Layout from "../layouts/Layout.astro";
import Timer from "./Timer.svelte";
---

<Layout>
  <div class="flex h-full w-full place-content-center">
    <Timer client:load />
  </div>
</Layout>
