---
import "../styles/global.css";
import BackgroundAnimation from "../components/BackgroundAnimation.astro";
import FontSwitch from "../components/FontSwitch.svelte";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Count down until the release!</title>
  </head>
  <body class="bg-background text-text m-0 h-screen w-screen">
    <div class="absolute top-5 right-5">
      <FontSwitch client:load />
    </div>
    <slot />
    <BackgroundAnimation />
  </body>
</html>
